    <!-- ***** Header Area Start ***** -->
<header class="header_area animated">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">Selene</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#selene-navbar" aria-controls="selene-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="selene-navbar">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Selene")">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="seleneDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="seleneDropdown">
                                        <a class="dropdown-item" href="@Url.Action("Index", "Selene")">Home</a>
                                        <a class="dropdown-item" href="@Url.Action("About", "Selene")">About Us</a>
                                        <a class="dropdown-item" href="@Url.Action("Services", "Selene")">Services</a>
                                        <a class="dropdown-item" href="@Url.Action("Blog", "Selene")">Blog</a>
                                        <a class="dropdown-item" href="@Url.Action("Contact", "Selene")">Contact</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="@Url.Action("Elements", "Selene")">Elements</a>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Selene")">About Us</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Services", "Selene")">Services</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Blog", "Selene")">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Selene")">Contact</a></li>
                            </ul>
                            <!-- Search btn -->
                            <div class="search-button d-lg-none">
                                <a href="#" class="search-btn"><img src="/template/selene/img/core-img/search-icon.png" alt="Search"></a>
                            </div>
                        </div>
                        <!-- Search btn -->
                        <div class="search-button d-none d-lg-block">
                            <a href="#" class="search-btn"><img src="/template/selene/img/core-img/search-icon.png" alt="Search"></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
<!-- ***** Search Form Area Start ***** -->
<div class="search-form-area">
    <!-- Remove btn -->
    <div class="remove-btn">
        <i class="fa fa-times"></i>
    </div>
    <!-- Search Form -->
    <form action="#" method="post">
        <input type="search" name="search" id="search" placeholder="Type keywords &amp; hit enter">
        <button type="submit" class="d-none"><img src="/template/selene/img/core-img/search-icon.png" alt="Search"></button>
    </form>
</div>
<!-- ***** Search Form Area End ***** -->